#gallery {
    width: 80%;
}

#gallery figure {
    width: 32%;
}

@media all and (max-width: 768px) {
    #gallery figure {
        width: 100%;
    }
}

@media all and (max-width: 992px) {
    #gallery figure {
        width: 49%
    }
}

@media all and (max-width: 768px) {
    #gallery figure {
        width: 100%
    }
}

@media all and (max-width: 480px) {
    #gallery,
    #gallery {
        width: 100%
    }
}