/* general */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

h2 span {
    color: limegreen;
}

section {
    padding: 30px 50px;
}

.clear {
    clear: both;
}

/* nawigacja */
#main-nav {
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    height: 50px;
}

#main-nav .menu {
    margin: 0;
    list-style-type: none;
    text-align: right;
}

#main-nav .menu .menu-item {
    display: inline-block;
    margin-right: 30px;
    line-height: 50px;
}

#main-nav .menu .menu-item a {
    text-decoration: none;
    color: limegreen;
}

#main-nav .menu .menu-item a:hover {
    color: #333333;
}

/* header */
#main-header {
    height: 80vh;
    background: url('../img/header-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#main-header .header-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

#main-header .header-inner h1 {
    font-size: 70px;
}

#main-header .header-inner h1 span{
    color: lime;
}

#main-header .header-inner h1,
#main-header .header-inner h2 {
    font-weight: 100;
}

#main-header .header-inner h2 {
    font-size: 40px;
}

/* about */
#about {
    text-align: center;
    background-color: #F9FCFE;
}

#about figure,
#about .about_info {
    width: 50%;
    float: left;
    display: inline-block;
    margin: 0;
}

#about figure img {
    width: 50%;
}

#about > div p {
    text-align: left;
}

